* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Extrasquare";
    src: url("./fonts/bpg_extrasquare_2009.ttf");
}

body {
    font-family: Extrasquare;
    background-color: rgb(248, 248, 248);
    font-size: 18px;
}

p {
    color: #7E8081;
}

button {
    font-size: 18px;
    color: white;
    background-color: #000000;
    padding: 8px 12px;
}

.container {
    max-width: 1140px;
    margin: auto;

}

header {
    height: 80px;
    width: 100%;
}
.logo {
    width: 180px;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    top: 20px;
}

.contactinfo li {
    margin: 0 5px;
}

nav ul li:hover {
    color: #797878;
}

.banner {
    background-image: url("./pictures/banner.png");
    height: 400px; 
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

.aboutus {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;

}

.aboutuscontainer{
    display: flex;
    justify-content: center;

}

.aboutus h2 {
    width: 70%;
    font-size: 30px;
}

.aboutus p {
    margin: 40px 0;
}

.aboutus a {
    color: white;
    background-color: #000000;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 7px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 140px;
}

.service {
    width: 15%;
    height: 280px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff;
}

.service h3 {
    margin: 20px 0;
}

i {
    font-size: 40px;
    margin-bottom: 40px;
}

#services h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 45px; 
}

.service:hover {
    background-color:rgb(130, 185, 176); 
}

.footercontainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

footer i, p {
    font-size: 14px;
    color: grey;
}

hr{
    margin-bottom: 40px;
}

footer i {
    margin: 0 5px;
}